@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@import "tailwindcss";


@theme {
  --font-roboto-slab: "Roboto Slab", sans-serif;
  --animate-rotateCube: rotateCube 1.5s infinite linear;
  --breakpoint-xs: 30rem;
}


@custom-variant dark (&:where(.dark, .dark *));


@keyframes rotateCube {
  0%   { transform: rotateX(0deg) rotateY(0deg) translateY(0); -webkit-transform: rotateX(0deg) rotateY(0deg) translateY(0); -moz-transform: rotateX(0deg) rotateY(0deg) translateY(0); -ms-transform: rotateX(0deg) rotateY(0deg) translateY(0); -o-transform: rotateX(0deg) rotateY(0deg) translateY(0); }
  25%  { transform: rotateX(180deg) rotateY(0deg) translateY(-10px); }
  50%  { transform: rotateX(180deg) rotateY(180deg) translateY(0); }
  75%  { transform: rotateX(0deg) rotateY(180deg) translateY(-10px); }
  100% { transform: rotateX(0deg) rotateY(0deg) translateY(0); }
}